<h1>Editing Article</h1>

<%= render 'form', article: @article %>

<%= link_to '<button type="button" class="btn btn-warning">Show</button>'.html_safe, @article %>
<%= link_to '<button type="button" class="btn btn-warning">Back</button>'.html_safe, articles_path %>
