<div>
  <% @articles.each do |article| %>
    <div class="article-item">
      <div class="article-title">
        <%= article.title %>
      </div>
      <div class="article-summary">
        <%= article.summary %>
      </div>
      <div class="article-link">
        <%= link_to 'Details', article, class: 'btn btn-warning right' %>
      </div>
    </div>
  <% end %>
</div>

<%#= link_to 'New Article', new_article_path %>
