<div>
  <% @articles.each do |article| %>
    <div class="article-item">
      <div class="article-title">
        <%= article.title %>
      </div>
      <div class="article-summary">
        <%= article.summary %>
      </div>
      <div class="article-link">
        <%= link_to 'Details', article, class: 'btn btn-warning right' %>
      </div>
    </div>
  <% end %>
</div>
<% if current_user&.admin?%>
  <%= link_to'<button type="button" class="btn btn-warning">New Article</button>'.html_safe , new_article_path %>
<% end %>
