<%= form_with(model: about, local: true) do |form| %>


  <div class="form-group">
    <b><%= form.label :content %></b>
    <%= form.text_field :content, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.button :submit => "", class: "btn btn-warning" %>
  </div>
<% end %>
