// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-primary a {
	color:yellow;
	background-color:black;
}
.father {
	width: 20%;
}
.father .form-group:nth-child(5){
	width:100%;
}
