// Place all the styles related to the Inquiries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inq-nav > li > a {
  color: #212529;
  background-color: #ffc107;
}
.inq-nav > li > a:hover,
.inq-nav > li > a:focus {
  background-color: #e0a800;
}
